{% block rmoi_text_widget %}

    {% if form.vars.addon_html is not empty %}
        <div class="input-group">
    {% endif %}


    {% if form.vars.has_feedback_icon is not empty %}

        <span class="{{ form.vars.has_feedback_icon }} form-control-feedback"></span>

    {% endif %}


    {# Ajout des attributs pour le js #}
    {% if form.vars.mask is not empty %}
        {% set rmoi_attr = rmoi_attr|default([])|merge({'data-rm-mask': form.vars.mask, 'data-rm-mask-placeholder': form.vars.mask_placeholder}) %}
    {% endif %}

    {% if form.vars.regex is not empty %}
        {% set rmoi_attr = rmoi_attr|default([])|merge({'data-rm-regex': form.vars.regex}) %}
    {% endif %}

    {% set rmoi_attr = rmoi_attr|merge({'class': rmoi_attr['class']|default('') ~ ' ' ~ attr['class']|default('') }) %}
    {% set attr = attr|merge(rmoi_attr) %}

    {% set attr = attr|merge({'class' : rmoi_attr['class']|default('') ~ ' form-control rmoi-text-input'}) %}
    {% if form.vars.mask_placeholder is not empty %}
        {% set attr = attr|merge({'placeholder': form.vars.mask_placeholder}) %}
    {% endif %}

    {{ block('form_widget_simple') }}


    {% if form.vars.addon_html is not empty %}
            <span class="input-group-addon">{{ form.vars.addon_html|raw }}</span>
        </div>
    {% endif %}

{% endblock %}

{% block rmoi_number_widget %}

    {% set rmoi_attr = rmoi_attr|default([])|merge({'class': 'rmoi-number-input'}) %}

    {% if form.vars['rm_number_decimals'] is defined and form.vars['rm_number_decimals'] is not empty %}
        {% set rmoi_attr = rmoi_attr|default([])|merge({'data-rm-number-decimals': form.vars.rm_number_decimals}) %}
    {% endif %}

    {% if form.vars['rm_number_decimal_point'] is defined and form.vars['rm_number_decimal_point'] is not empty %}
        {% set rmoi_attr = rmoi_attr|default([])|merge({'data-rm-number-decimal-point': form.vars.rm_number_decimal_point}) %}
    {% endif %}

    {% if form.vars['rm_number_thousands_separator'] is defined and form.vars['rm_number_thousands_separator'] is not empty %}
        {% set rmoi_attr = rmoi_attr|default([])|merge({'data-rm-number-thousands-separator': form.vars.rm_number_thousands_separator}) %}
    {% endif %}

    {{ block("rmoi_text_widget") }}

{% endblock %}


{% block rmoi_money_widget %}

    {% set rmoi_attr = rmoi_attr|default([])|merge({'class': 'rmoi-money-input'}) %}

    {{ block("rmoi_number_widget") }}

{% endblock %}


{% block rmoi_date_widget %}

    {% set rmoi_attr = rmoi_attr|default([])|merge({'class': 'rmoi-date-input'}) %}

    {{ block("rmoi_text_widget") }}

{% endblock %}